*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    color: white;
    font-size: 0.8rem;
    padding: 15px 20px;
}
main .box1{
    background-image: url("https://dvl2h13awlxkt.cloudfront.net/assets/general-images/Knowledge/_1200x630_crop_center-center_82_none/Coronary-heart-disease.jpg?mtime=1657262027");
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.box1 h1{
    color: white;
}